$TTL 86400
@   IN  SOA ns.local.lan. admin.local.lan. (
        2025042218 ; Serial YYYYMMDDNN
        604800     ; Refresh
        86400      ; Retry
        2419200    ; Expire
        86400 )    ; Minimum TTL
;
    IN  NS  ns.local.lan.

; Networking
1    IN  PTR  three-4g-router.local.lan.
2    IN  PTR  tplink-garden-wifi.local.lan.
;3    IN  PTR  tplink-garden-wifi.local.lan. possible the other end of the old bridge, now spare
4    IN  PTR  mikrotik-brigde-master.local.lan.
5    IN  PTR  mikrotik-brigde-slave.local.lan.
6    IN  PTR  tplink-omada-ap.local.lan.
7    IN  PTR  reserved-192-168-8-7.local.lan.
8    IN  PTR  tplink-router.local.lan.
9    IN  PTR  tplink-pla-zira.local.lan.
10   IN  PTR  netgear-24p-switch.local.lan.

; Raspberry Pi
11   IN  PTR  rpi1.local.lan.
12   IN  PTR  rpi2.local.lan.
13   IN  PTR  rpi3.local.lan.
14   IN  PTR  rpi4.local.lan.
15   IN  PTR  rpi5.local.lan.
16   IN  PTR  rpi6.local.lan.
17   IN  PTR  rpi7.local.lan.
18   IN  PTR  rpi8.local.lan.

; Networking 2
20   IN  PTR teltonika-4g-router.local.lan.
21   IN  PTR bridge2-house.local.lan.
22   IN  PTR bridge2-garage.local.lan.
23   IN  PTR nokia-5003.local.lan.
24   IN  PTR airband-cambium.local.lan.
25   IN  PTR tplink-pla-taylor.local.lan.
26   IN  PTR tplink-ext-maximus.local.lan.
27   IN  PTR tplink-pla-cornelius.local.lan.
28   IN  PTR reserved-192-168-8-28.local.lan.
29   IN  PTR reserved-192-168-8-29.local.lan.

; CS
30   IN PTR csdev1.local.lan.

; k8s on agora scanbox
60   IN  PTR  maw-aws-node.local.lan.
61   IN  PTR  maw-lon-node.local.lan.
62   IN  PTR  maw-ffr-node.local.lan.

; k8s on agora scanbox - metallb
70   IN  PTR  metallb-192.168.8.70.local.lan.
71   IN  PTR  metallb-192.168.8.71.local.lan.
72   IN  PTR  metallb-192.168.8.72.local.lan.
73   IN  PTR  metallb-192.168.8.73.local.lan.
74   IN  PTR  metallb-192.168.8.74.local.lan.
75   IN  PTR  metallb-192.168.8.75.local.lan.
76   IN  PTR  metallb-192.168.8.76.local.lan.
77   IN  PTR  metallb-192.168.8.77.local.lan.
78   IN  PTR  metallb-192.168.8.78.local.lan.
79   IN  PTR  metallb-192.168.8.79.local.lan.

; k8s on agora scanbox
89   IN  PTR  maw-ingress01.local.lan.

; other on work scanbox
96   IN  PTR  proxmox.local.lan.
98   IN  PTR  maw-fedora.local.lan.

; --- Auto-generated PTRs for 192.168.8.x where last octet >= 100 ---
{% for h in dhcp_hosts
     if h.ip.startswith('192.168.8.')
        and (h.ip.split('.')[3] | int) >= 100 %}
{{ h.ip.split('.')[3] }}      IN PTR {{ h.name }}.local.lan.
{% endfor %}
