$TTL 86400
@   IN  SOA ns.local.lan. admin.local.lan. (
        2025010401 ; Serial
        604800     ; Refresh
        86400      ; Retry
        2419200    ; Expire
        86400 )    ; Minimum TTL
;
    IN  NS  ns.local.lan.

; Networking
1    IN  PTR  three-4g-router.local.lan.
2    IN  PTR  tplink-garden-wifi.local.lan.
4    IN  PTR  mikrotik-brigde-master.local.lan.
5    IN  PTR  mikrotik-brigde-slave.local.lan.
3    IN  PTR  tplink-garden-wifi.local.lan.
9    IN  PTR  tplink-airing-cupboard.local.lan.
10   IN  PTR  netgear-24p-switch.local.lan.

; Raspberry Pi
11   IN  PTR  rpi1.local.lan.
12   IN  PTR  rpi2.local.lan.
13   IN  PTR  rpi3.local.lan.
14   IN  PTR  rpi4.local.lan.
15   IN  PTR  rpi5.local.lan.
16   IN  PTR  rpi6.local.lan.
17   IN  PTR  rpi7.local.lan.
18   IN  PTR  rpi8.local.lan.

; Networking 2
20   IN  PTR teltonika-rutc50.local.lan.
21   IN  PTR reserved-192-168-8-21.local.lan.
22   IN  PTR reserved-192-168-8-22.local.lan.
23   IN  PTR reserved-192-168-8-23.local.lan.
24   IN  PTR reserved-192-168-8-24.local.lan.
25   IN  PTR reserved-192-168-8-25.local.lan.
26   IN  PTR reserved-192-168-8-26.local.lan.
27   IN  PTR reserved-192-168-8-27.local.lan.
28   IN  PTR reserved-192-168-8-28.local.lan.
29   IN  PTR reserved-192-168-8-29.local.lan.

; k8s north on agora scanbox
60   IN  PTR  maw-north-kcontrolp01.local.lan.
61   IN  PTR  maw-north-kworker01.local.lan.
62   IN  PTR  maw-north-kworker02.local.lan.

; k8s north on agora scanbox - metallb
65   IN  PTR metalb-north-192-168-8-65.local.lan.
66   IN  PTR metalb-north-192-168-8-66.local.lan.
67   IN  PTR metalb-north-192-168-8-67.local.lan.
68   IN  PTR metalb-north-192-168-8-68.local.lan.
69   IN  PTR metalb-north-192-168-8-69.local.lan.

; k8s on agora scanbox - metallb
70   IN  PTR  metallb-192.168.8.70.local.lan.
71   IN  PTR  metallb-192.168.8.71.local.lan.
72   IN  PTR  metallb-192.168.8.72.local.lan.
73   IN  PTR  metallb-192.168.8.73.local.lan.
74   IN  PTR  metallb-192.168.8.74.local.lan.
75   IN  PTR  metallb-192.168.8.75.local.lan.
76   IN  PTR  metallb-192.168.8.76.local.lan.
77   IN  PTR  metallb-192.168.8.77.local.lan.
78   IN  PTR  metallb-192.168.8.78.local.lan.
79   IN  PTR  metallb-192.168.8.79.local.lan.

; k8s on agora scanbox
80   IN  PTR  maw-kcontrolp01.local.lan.
81   IN  PTR  maw-kworker01.local.lan.
82   IN  PTR  maw-kworker02.local.lan.
83   IN  PTR  maw-kworker03.local.lan.
84   IN  PTR  maw-kworker04.local.lan.
85   IN  PTR  maw-kworker05.local.lan.
89   IN  PTR  maw-ingress01.local.lan.

; other on work scanbox
96   IN  PTR  proxmox.local.lan.
98   IN  PTR  maw-fedora.local.lan.
