$TTL 86400
@   IN  SOA ns.local.lan. admin.local.lan. (
        2025010401 ; Serial
        604800     ; Refresh
        86400      ; Retry
        2419200    ; Expire
        86400 )    ; Minimum TTL
;
    IN  NS  ns.local.lan.

; Networking
1    IN  PTR  airband-router.local.lan.
