$TTL 86400
@   IN  SOA rpi.local.lan. admin.local.lan. (
        1         ; Serial
        604800    ; Refresh
        86400     ; Retry
        2419200   ; Expire
        86400 )   ; Minimum TTL
;
    IN  NS  rpi.local.lan.

rpi.local.lan.  IN  A   192.168.8.1

