default-lease-time 600;
max-lease-time 7200;
authoritative;

ddns-update-style none;
ignore client-updates;

subnet 192.168.8.0 netmask 255.255.255.0 {
    range 192.168.8.150 192.168.8.199;
    option routers 192.168.8.20;
    option domain-name "local.lan";
    option domain-name-servers 192.168.8.16, 8.8.8.8;
}

subnet 192.168.11.0 netmask 255.255.255.0 {
    range 192.168.11.150 192.168.11.199;
    option routers 192.168.11.1;
    option domain-name "local.lan";
    option domain-name-servers 192.168.11.16, 8.8.8.8;
}

# --- Static reservations ---
{% for h in dhcp_hosts %}
host {{ h.name }} {
    hardware ethernet {{ h.mac }};
    fixed-address {{ h.ip }};
}
{% endfor %}
