zone "local.lan" {
    type master;
    file "/var/lib/bind/db.local.lan";
};

zone "8.168.192.in-addr.arpa" {
    type master;
    file "/var/lib/bind/db.192.168.8";
};

zone "11.168.192.in-addr.arpa" {
    type master;
    file "/var/lib/bind/db.192.168.11";
};
