key "dhcp-ddns-key" {
    algorithm hmac-md5;
    secret "{{ tsig_key }}";
};

zone "local.lan" {
    type master;
    file "/etc/bind/db.local.lan";
    allow-update { key "dhcp-ddns-key"; };
};

zone "8.168.192.in-addr.arpa" {
    type master;
    file "/etc/bind/db.192.168.8";
    allow-update { key "dhcp-ddns-key"; };
};

