include "/etc/bind/tsig-key.conf";

zone "local.lan" {
    type master;
    file "/var/lib/bind/db.local.lan";
    allow-update { key "tsig-key"; };
};

zone "8.168.192.in-addr.arpa" {
    type master;
    file "/var/lib/bind/db.192.168.8";
    allow-update { key "tsig-key"; };
};

